/* base.css */

/* Body */
body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #111;
}

/* Links */
a:link    { color: #BF372A; text-decoration: none; }
a:visited { color: #BF372A; text-decoration: none; }
a:hover   { color: #BF372A; text-decoration: none; }
a:active  { color: #BF372A; text-decoration: none; }
